<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-2">
                  <div class="card-box bg-blue">
                      <div class="inner">
                          <h3> 25 </h3>
                          <p> Photos </p>
                      </div>
                      <div class="icon">
                          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      </div>
                      <a href="javascript:void(0)" class="card-box-footer" (click)="showPhotos();">View Photos <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
              </div>
      
              <div class="col-lg-3 col-sm-6">
                  <div class="card-box bg-green">
                      <div class="inner">
                          <h3> 55 </h3>
                          <p> Messages </p>
                      </div>
                      <div class="icon">
                          <i class="fa fa-money" aria-hidden="true"></i>
                      </div>
                      <a href="#" class="card-box-footer">View Messages <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="card-box bg-orange">
                      <div class="inner">
                          <h3> 75 </h3>
                          <p> Users </p>
                      </div>
                      <div class="icon">
                          <i class="fa fa-user-plus" aria-hidden="true"></i>
                      </div>
                      <a href="#" class="card-box-footer">View Users <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="card-box bg-red">
                      <div class="inner">
                          <h3> 105 </h3>
                          <p> Mails </p>
                      </div>
                      <div class="icon">
                          <i class="fa fa-users"></i>
                      </div>
                      <a href="#" class="card-box-footer">View Mails <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
  