:host {
    display: flex;
    flex-direction: column;
    height: 750px;
  }
  
  mat-drawer {
    width: 260px;
  }
  // mat-drawer-container {
  //   height: 100%;
  // }
  
  mat-drawer {
    background: #0f172a;
  }
  